*{
    word-wrap: break-word;
}

body{
    background: #F8F8F8;
}

body,input,button,select,textarea {
    font:14px/1.5 微软雅黑,Tahoma,'Microsoft Yahei','Simsun';
    color:#444;
}

textarea {
    resize:none;
}

body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset {
    margin:0;
    padding:0;
}

table {
    empty-cells:show;
    border-collapse:collapse;
}
caption,th {
    text-align:left;
    font-weight:400;
}

ul li,.xl li {
    list-style:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:1em;
}

em,cite,i {
    font-style:normal;
}
a {
    color:#333;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a img {
    border:none;
}
label {
    cursor:pointer;
}